<div class="panel panel-primary">
    <div class="panel-heading text-center">
        <h3 class="panel-title">
            Page for RM
        </h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <h4>1. Are you using custom links?</h4>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.custom"  name="custom" value="no"> No
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.custom"  name="custom" value="link1"> Link1
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.custom"  name="custom" value="link2"> Link2
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.custom"  name="custom" value="link3"> Link3
                </label>
            </div>
            <div class="form-group" *ngIf="options.custom=='no'">
                <h4>2. How many months of installment do you want to show?</h4>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.months"  name="months" value="0"> Full
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.months"  name="months" value="3"> 3 months
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.months"  name="months" value="6"> 6 months
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.months"  name="months" value="9"> 9 months
                </label>
            </div>
            <div class="form-group" *ngIf="options.custom=='no'">
                <h4>3. Did you use $300 discount?</h4>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.discount"  name="discount" value="y"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="options.discount"  name="discount" value="n"> No
                </label>
            </div>
        </form>

        <p>
            Your payment URL to clients is
            <a *ngIf="options.custom=='no'" style="color: red;" target="_blank" href="{{origin}}/#?custom={{options.custom}}&months={{options.months}}&discount={{options.discount}}">
                {{origin}}/#?custom={{options.custom}}&months={{options.months}}&discount={{options.discount}}
            </a>
            <a *ngIf="options.custom=='link1'" style="color: red;" target="_blank" href="{{origin}}/#custom">
                {{origin}}/#custom
            </a>
            <a *ngIf="options.custom=='link2'" style="color: red;" target="_blank" href="{{origin}}/#custom2">
                {{origin}}/#custom2
            </a>
            <a *ngIf="options.custom=='link3'" style="color: red;" target="_blank" href="{{origin}}/#custom3">
                {{origin}}/#custom3
            </a>
        </p>
    </div>
</div>


